h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour le formulaire */
form {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    max-width: 500px;
    margin: auto;
    text-align: left;
}


/* Styles pour les labels */
label {
    width: 150px;
    display: inline-block;
}

/* Styles pour les champs de saisie */
input {
    width: 250px;
    padding: 6px 12px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 1rem;
    box-sizing: border-box;
    /* Assure que les marges et padding n'affectent pas la largeur */
}

/* Styles pour le bouton de soumission */
.btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0a58ca;
}

form:invalid input[type="submit"] {
    background-color: gray;
    border-color: gray;
}

input:invalid {
    border-color: red;
}

input:invalid+.icon-ok {
    display: none;
}

input:valid+.icon-ok {
    display: inline-block;
    color: green;
}